#cookie-consent {
    padding: 1.5rem !important;
    border-radius: 0;
    padding: 12px 1rem;
    display: block;
    font-size: 1rem;
    background-color: var(--color-gray-200);
    color: var(--color-gray-800);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
