#courses {

    .container {
        .breadcrumb {
            display: flex;
            align-items: center;
            gap: 15px;
            padding-top: 30px;
            margin-bottom: 20px;
            font-size: 14px;

            i {
                color: var(--color-gray-600);
            }

            a {
                text-decoration: none;
                color: var(--color-gray-600);

                &:hover {
                    transition: all 0.15s ease-in-out;
                    cursor: pointer;
                    color: var(--color-info);
                }
            }

            .active {
                color: var(--color-theme);

                i {
                    padding-right: 15px;
                    font-size: 12px;
                }

                &::before {
                    display: none;
                }
            }
        }

        .header-courses {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            h1 {
            }

            .filters {
                display: flex;
                gap: 25px;
            }

            .categorylist {
                border: 1px solid #DAD9D3;
                padding: 8px;
                border-radius: 15px;

                form {

                    input {
                        color: #191919;
                        text-decoration: none;
                        outline: none;
                        border: transparent;
                        margin-right: 50px;
                    }
                }
            }

            .search-form {
                border: 1px solid #DAD9D3;
                padding: 8px;
                border-radius: 15px;

                form {

                    input {
                        color: #191919;
                        text-decoration: none;
                        outline: none;
                        border: transparent;
                        margin-right: 50px;
                    }
                }
            }
        }

        .items {
            display: grid;
            grid-template-columns: auto;
            gap: 25px;

            @include md {
                display: grid;
                grid-template-columns: auto auto;
                gap: 25px;
            }

            @include xl {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 30px;
            }

            .course {
                @include shadow-s;
                position: relative;
                border: none;
                border-radius: 15px;
                overflow: hidden;
                transition: box-shadow 0.2s ease-in-out;
                max-width: 416px;
                height: 473px;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 4px 10px rgb(160, 160, 160, 0.50);
                }

                .best-seller {
                    @include badge-success;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                }

                .bookmark {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }

                img {
                    min-width: 100%;
                    height: auto;
                }

                .content {
                    text-align: left;
                    padding: 20px;

                    h5 {
                        margin-top: 10px;
                        color: var(--color-gray-800);
                    }

                    .author {
                        @include text-s;
                        color: var(--color-gray-700);
                    }

                    .pricing {
                        display: flex;
                        gap: 10px;
                        font-size: 18px;
                        font-weight: 700;
                        border-bottom: 1px solid var(--color-gray-300);
                        padding-bottom: 15px;

                        .discount {
                            color: var(--color-danger);
                        }

                        .original {
                            color: var(--color-theme);
                        }

                        .discount-enabled {
                            color: var(--color-gray-600);
                            font-weight: 400;
                            font-size: 16px;
                            text-decoration: line-through;
                        }
                    }

                    .footer {
                        @include text-s;
                        display: flex;
                        gap: 20px;
                        color: var(--color-gray-600);
                        padding-top: 20px;

                        i {
                            padding-right: 5px;
                        }

                        .hours {
                        }

                        .likes {
                        }
                    }

                    .clock {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;

                        .fa-regular {
                            color: var(--color-gray-600);
                            margin-top: 3px;
                        }

                        p {
                            color: var(--color-gray-600);
                        }

                        .thumbs-up {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
        /*        .pagination {
            display: flex;
            gap: 8px;
            margin: 30px 0;
            justify-content: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color-black);
                font-size: 0.9rem;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                width: 38px;
                height: 38px;

                i {
                    font-size: 0.8rem;
                }

                &.active,
                &:hover {
                    color: #FFFFFF;
                    background-color: var(--color-info);
                }
            }
        }*/

        .work-section {
            display: flex;
            justify-content: center;
            background-color: var(--color-gray-100);
            align-items: center;
            gap: 80px;

            .work-text {

                h5 {
                    @include h6;
                    margin-top: 50px;

                    @include md {
                        @include h5;
                    }

                    @include xl {
                        @include h5;
                    }
                }

                h1 {
                    @include h3;

                    @include md {
                        @include h1;
                    }

                    @include xl {
                        @include h1;
                    }
                }

                .header-skills {
                    color: var(--color-theme-secondary);
                }

                .btn-theme-s {
                    margin-bottom: 50px;
                }
            }

            .work-img {
                display: none;

                @include xl {
                    display: block;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
