#saved-courses {

    .container {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        .box-savedcourses {
            display: flex;
            flex-direction: column;
            padding: 50px 20px;

            @include lg {
                padding: 50px 0 0 100px;
                border-left: 1px solid var(--color-gray-300);
            }

            .saved-header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 30px;


                .btn-gray {
                    height: 60%;
                    background-color: transparent;
                    border: 1px solid var(--color-danger);
                    color: var(--color-danger);

                    &:hover {
                        text-decoration: none;
                        background-color: var(--color-danger);
                        color: var(--color-white);
                    }
                }
            }

            .courses-square {
                display: grid;
                grid-template-columns: auto;
                gap: 25px;

                @include md {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 25px;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 30px;
                }

                .grid-item {
                    border: 1px solid #DAD9D3;
                    border-radius: 15px;
                    overflow: hidden;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: box-shadow 0.3s ease-in-out;

                    &:hover {
                        box-shadow: 0 6px 12px rgba(0, 0, 0, 10);
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .text-info {
                        text-align: left;
                        padding: 20px;

                        h5 {
                            margin-top: 10px;
                        }

                        .creator {
                            color: var(--color-gray-600);
                        }

                        .price {
                            font-weight: 700;
                            color: var(--color-theme);
                            border-bottom: 1px solid #DAD9D3;
                            padding-bottom: 15px;
                        }

                        .clock {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;

                            .fa-regular {
                                color: var(--color-gray-600);
                                margin-top: 3px;
                            }

                            p {
                                color: var(--color-gray-600);
                            }

                            .thumbs-up {
                                display: flex;
                                flex-direction: row;
                                gap: 5px;
                                margin-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}
