#saved-courses {

    .container {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        .box-savedcourses {
            display: flex;
            flex-direction: column;
            padding: 50px 20px;
            width: 100%;

            @include lg {
                padding: 50px 0 0 100px;
                border-left: 1px solid var(--color-gray-300);
            }

            .saved-header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 30px;

                .btn-gray {
                    height: 60%;
                    background-color: transparent;
                    border: 1px solid var(--color-danger);
                    color: var(--color-danger);
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                        background-color: var(--color-danger);
                        color: var(--color-white);
                    }
                }
            }

            .items {
                display: grid;
                grid-template-columns: auto;
                gap: 25px;
                justify-content: center;

                @include md {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 25px;
                }

                .course {
                    @include shadow-s;
                    position: relative;
                    border: none;
                    border-radius: 15px;
                    overflow: hidden;
                    transition: box-shadow 0.2s ease-in-out;
                    max-width: 416px;
                    height: 473px;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 4px 10px rgb(160, 160, 160, 0.50);
                    }

                    .best-seller {
                        @include badge-success;
                        position: absolute;
                        top: 15px;
                        left: 15px;
                    }

                    .remove {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }

                    img {
                        min-width: 100%;
                        height: auto;
                    }

                    .content {
                        text-align: left;
                        padding: 5px 20px 20px 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 220px;

                        h5 {
                            @include text-m;
                            color: var(--color-gray-800);
                            font-weight: 800;

                            @include xl {
                                @include h5;
                                color: var(--color-gray-800);
                            }
                        }

                        .author {
                            @include text-s;
                            color: var(--color-gray-700);
                        }

                        .pricing {
                            display: flex;
                            gap: 10px;
                            font-size: 18px;
                            font-weight: 700;
                            padding-bottom: 15px;
                            margin-top: auto;

                            .discount {
                                color: var(--color-danger);
                            }

                            .original {
                                color: var(--color-theme);
                            }

                            .discount-enabled {
                                color: var(--color-gray-600);
                                font-weight: 400;
                                font-size: 16px;
                                text-decoration: line-through;
                            }
                        }

                        .footer {
                            @include text-s;
                            display: flex;
                            margin-top: auto;
                            gap: 20px;
                            color: var(--color-gray-600);
                            padding-top: 20px;
                            border-top: 1px solid var(--color-gray-300);

                            i {
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
