#signup {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 30%;
        }

        form {
            .content {
                label {
                    color: $gray-900;
                    font-weight: 600;

                    span {
                        color: $gray-600;
                    }
                }

                .form-control {
                    padding: 10px 15px;
                    border-radius: 8px;
                }

                input {


                    &::placeholder {
                        color: $gray-500;
                    }

                    &:focus {
                        @include theme-secondary-shadow;
                        border-color: $theme-opacity;
                    }
                }

                .checkbox {
                    position: relative;

                    span {
                        position: absolute;
                    }

                    .form-check {
                        .form-check-input {
                            border: 2px solid $gray-500;
                            height: 18px;
                            width: 18px;
                            margin-bottom: 30px;

                            &:checked {
                                background-color: $theme;
                                border-color: $theme;
                            }
                        }
                    }
                }
            }

            button {
            }
        }
    }
}
