@{
    ViewData["Title"] = "Admin Portal";
}

<section>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <div>
            <button>Add new course</button>
            <button>Add new course</button>
        </div>
    </div>
</section>