@model ProfileInfoViewModel
<aside>
    <div class="profile">
        <img src="@Model.ProfileImageUrl" alt="@($"{Model.FirstName} {Model.LastName}")">
        <a class="btn-refresh" href="#"><i class="fa-sharp fa-regular fa-arrows-rotate"></i></a>
        <h5>@($"{Model.FirstName} {Model.LastName}")</h5>
        <p>@Model.Email</p>
    </div>

    <nav>
        <a class="btn-theme-s" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i><span>Account Details</span></a>
        <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i><span>Security</span></a>
        <a class="btn-transparent" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-bookmark"></i><span>Saved Courses</span></a>
        <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-right-from-bracket"></i><span>Sign Out</span></a>
    </nav>
</aside>
