@model NewsletterViewModel

<section id="newsletter" class="newsletter">
    <div class="container">
        <div class="content">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="~/images/arrows.svg" alt="arrow">
        </div>

        <form method="post" id="registerNewsletter" asp-controller="Home" asp-action="Subscribe" novalidate>
            <div class="choose-newsletter">
                <h5>Sign up for<br> Newsletters</h5>
                <div class="checkboxes">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="DailyNewsletter" />
                        <label class="form-check-label" asp-for=DailyNewsletter></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="AdvertisingUpdates" />
                        <label class="form-check-label" asp-for=AdvertisingUpdates></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="WeekInReview" />
                        <label class="form-check-label" asp-for=WeekInReview></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="EventUpdates" />
                        <label class="form-check-label" asp-for=EventUpdates></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="StartupsWeekly" />
                        <label class="form-check-label" asp-for=StartupsWeekly></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Podcasts" />
                        <label class="form-check-label" asp-for=Podcasts></label>
                    </div>
                </div>
            </div>
            <div class="subscribe">
                <i class="fa-regular fa-envelope"></i>
                <input id="email" class="form-input" asp-for="Email" />
                <button id="form-submit" type="submit" class="btn-theme">Subscribe *</button>
            </div>
            <span class="text-danger" asp-validation-for="Email"></span>
            <p class="terms-and-privacy">* Yes, I agree to the <a asp-controller="About" asp-action="Terms">terms</a> and <a asp-controller="About" asp-action="Conditions">privacy policy.</a></p>
            <partial name="~/Views/Shared/Partials/_StatusMessagePartial.cshtml" />
        </form>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")