
<section id="author">
    <div class="container">
        <div class="author-img-text">
            <img class="author-pic" src="/images/albert-flores.svg" alt="picture of albert flores">
            <div class="author-text">
                <p>Learn from the best</p>
                <h2>Albert Flores</h2>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis <br>malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta<br> sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in<br> tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque<br> faucibus amet, eleifend diam quam condimentum convallis ultricies <br>placerat. Duis habitasse placerat amet, odio pellentesque rhoncus,<br> feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="albert-buttons">
                    <a class="btn-theme-s" href="#"><i class="fa-brands fa-youtube"></i> 240k subscribers</a>
                    <a class="btn-gray" href="#"><i class="fa-brands fa-square-facebook"></i> 80k followers</a>
                </div>
            </div>
        </div>
    </div>
</section>