<section id="singlecourseshowcase">
    <img src="/images/pcpicture.svg" alt="picture of pc">
    <div class="container">
        <div class="header-singlecourse">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="fa-solid fa-house"></i>
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <i class="fa-solid fa-angles-right"></i>
                    <li class="breadcrumb-item"><a asp-controller="Courses" asp-action="Courses">Courses</a></li>
                    <i class="fa-solid fa-angles-right"></i>
                    <li class="breadcrumb-item active" aria-current="page">Fullstack Web Developer Course from Scratch</li>
                </ol>
            </nav>
            <div class="seller-square">
                <div class="green-box">
                    <p>Best Seller</p>
                </div>
                <div class="white-box">
                    <p>Digital</p>
                </div>
            </div>
            <div class="text-header">
                <h1>Fullstack Web Developer Course from Scratch</h1>
                <p>Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
            </div>
            <div class="rating">
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>(1.2k reviews)</p>
                </div>
                <div class="rating-thumb">
                    <i class="fa-regular fa-thumbs-up"></i>
                    <p>5K likes</p>
                </div>
                <div class="rating-clock">
                    <i class="fa-regular fa-clock"></i>
                    <p>148 hours</p>
                </div>
            </div>
            <div class="img-text">
                <img src="/images/roundimage.svg" alt="picture of albert flores">
                <div class="image-text-header">
                    <P class="bold-p">Created by</P>
                    <P class="p-normal">Albert Flores</P>
                </div>
            </div>
        </div>
    </div>
</section>
