@model AccountSecurityViewModel

<section id="account-security">
    <div class="container">
        <partial name="~/Views/Shared/Partials/_AsidePartial.cshtml" />

        <div class="security-preview">
            <h2>Security</h2>
            <form method="post" asp-controller="Account" asp-action="Security" id="securityChanges" class="row g-4" novalidate>
                <h5>Password</h5>
                <div class="col-12">
                    <div class="col-lg-6">
                        <label class="form-label" asp-for=NewPassword></label>
                        <span asp-validation-for="NewPassword"></span>
                        <input class="form-control" asp-for="NewPassword" />
                    </div>
                </div>

                <div class="col-lg-6">
                    <label class="form-label" asp-for=CurrentPassword></label>
                    <span asp-validation-for="CurrentPassword"></span>
                    <input class="form-control" asp-for="CurrentPassword" />
                </div>
                <div class="col-lg-6">
                    <label class="form-label" asp-for=ConfirmNewPassword></label>
                    <span asp-validation-for="ConfirmNewPassword"></span>
                    <input class="form-control" asp-for="ConfirmNewPassword" />
                </div>

                <div class="col-auto">
                    <button type="reset" class="btn-gray">Cancel</button>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn-theme">Save Changes</button>
                </div>
            </form>


            <form method="post" asp-controller="Account" asp-action="DeleteAccount" id="deleteAccount" class="row g-4" novalidate>
                <h5>Delete account</h5>
                <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>

                <div class="form-check">
                    <input class="form-check-input" asp-for="DeleteAccount" />
                    <label class="form-check-label" asp-for=DeleteAccount></label>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn-red">Delete</button>
                </div>
            </form>
        </div>

    </div>
</section>
