@model SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
}

<section id="signup">
    <div class="container">
        <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
            <partial name="~/Views/Shared/Partials/_StatusMessagePartial.cshtml" />
            <h1>Create Account</h1>
            <p>Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in here</a>.</p>
            
            <div class="content row g-4">
                <div class="col-lg-6">
                    <label class="form-label" asp-for=Form.FirstName></label>
                    <span class="text-danger" asp-validation-for="Form.FirstName"></span>
                    <input class="form-control" asp-for="Form.FirstName" />
                </div>
                <div class="col-lg-6">
                    <label class="form-label" asp-for=Form.LastName></label>
                    <span class="text-danger" asp-validation-for="Form.LastName"></span>
                    <input class="form-control" asp-for="Form.LastName" />
                </div>
                <div class="col-12">
                    <label class="form-label" asp-for=Form.Email></label>
                    <span class="text-danger" asp-validation-for="Form.Email"></span>
                    <input class="form-control" asp-for="Form.Email" />
                </div>
                <div class="col-12">
                    <label class="form-label" asp-for=Form.Password></label>
                    <span class="text-danger" asp-validation-for="Form.Password"></span>
                    <input class="form-control" asp-for="Form.Password" />
                </div>
                <div class="col-12">
                    <label class="form-label" asp-for=Form.ConfirmPassword></label>
                    <span class="text-danger" asp-validation-for="Form.ConfirmPassword"></span>
                    <input class="form-control" asp-for="Form.ConfirmPassword" />
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Form.TermsAndConditions" />
                        <label class="form-check-label" asp-for=Form.TermsAndConditions>I agree to the <a asp-controller="About" asp-action="Terms">Terms</a> & <a asp-controller="About" asp-action="Conditions">Conditions</a>.</label>
                    </div>
                    <span class="text-danger" asp-validation-for="Form.TermsAndConditions"></span>
                </div>
            </div>
            <div class="d-grid">
                <button id="form-submit" class="btn-theme-s" type="submit">Sign Up</button>
            </div>

        </form>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")