@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<section id="signin">
    <div class="container">
        <form method="post" asp-controller="Auth" asp-action="SignIn" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
            <partial name="~/Views/Shared/Partials/_StatusMessagePartial.cshtml" />
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here</a>.</p>

            <div class="content row g-4">
                <div class="col-12">
                    <label class="form-label" asp-for=Form.Email></label>
                    <input class="form-control" asp-for="Form.Email" />
                </div>
                <div class="col-12">
                    <label class="form-label" asp-for=Form.Password></label>
                    <input class="form-control" asp-for="Form.Password" />
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Form.RememberMe" />
                        <label class="form-check-label" asp-for=Form.RememberMe></label>
                    </div>
                </div>

                <div class="d-grid">
                    <button class="btn-theme-s" type="submit">Sign In</button>
                    <a id="form-forgot-password" asp-controller="Account" asp-action="Forgot">Forgot your password?</a>
                </div>

                <div class="external-providers">
                    <h6>Or sign in with your social network</h6>
                    <div class="providers d-inline-flex">
                        <a class="btn-gray" asp-controller="Auth" asp-action="Google"><i class="fa-brands fa-google"></i> Google</a>
                        <a class="btn-gray" asp-controller="Auth" asp-action="Facebook"><i class="fa-brands fa-facebook"></i> Facebook</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>