

<section id="courses">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="fa-solid fa-house"></i>
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <i class="fa-solid fa-angles-right"></i>
                <li class="breadcrumb-item active" aria-current="page">Courses</li>
            </ol>
        </nav>
        <div class="header-courses">
            <h1>Courses</h1>
            <div class="categorylist">
                <form>
                    <input type="text" placeholder="All Categories">
                    <i class="fa-solid fa-chevron-down"></i>
                </form>
            </div>
            <div class="search-form">
                <form>
                    <input type="text" placeholder="Search Courses">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
        </div>
        <div class="courses-square">
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="images/courses/computer-course.svg" alt="">
                <div class="text-info">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="creator">By Robert Fox</p>
                    <p class="price">$12.50</p>
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>220 hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>92% (3,1K)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <div class="pagination center-content">
                <a href="#"><i class="fa-regular fa-less-than"></i></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#"><i class="fa-regular fa-greater-than"></i></a>
            </div>
        </div>
        <div class="work-section">
            <div class="work-text">
                <h5>Ready to get Started?</h5>
                <h1>Take Your <span class="header-skills">Skills</span> to the <br>Next Level</h1>
                <button class="btn-theme-s">Work with us</button>
            </div>
            <div class="work-img">
                <img src="images/work-image.svg" alt="">
            </div>
        </div>
    </div>
</section>